#container {
  position: absolute;
  top: 300px;
  left: 500px;
}
div {
  text-align: center;
}
body {
  position: relative;
  color: rgb(255, 255, 255);
  background: rgb(9, 113, 122);
}
* {
  font-family: "Arial", cursive;
  font-size: 20px;
  letter-spacing: 3px;
}
